# Logs
logs
*.log
npm-debug.log*
 
# Runtime data
pids
*.pid
*.seed
*.pid.lock
 
# Dependency directories
node_modules/
jspm_packages/
uploads/
.env

# Optional npm cache directory
.npm
 

has context menu
ThanksHelloLet me check